*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	background-image: url(images/background.jpg);
	background-size: auto;

}

#navbarimage{
	height: 50px;
	width: 50px;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 10;

}

#person {
	height: 500px;
	width: 500px;
}

.banner {
		background-image: url(images/hex.jpg);
		background-size: cover;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #00113f;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}